<%- include("templates/header") %>
<head>
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="monkey2.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="400" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Boo!</h1>
        <p class="lead">If you don't sign up this monkey will show up in your dreams! 😲</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/signup" class="btn btn-primary btn-lg px-4 me-md-2">Sign Up</a>
          <a href="/login" class="btn btn-outline-secondary btn-lg px-4">Login</a>
        </div>
      </div>
    </div>
  </div>

</body>
<%- include("templates/footer") %>